.container{
  margin: 30px auto 0 auto;
  width: 500px;
  height: 500px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 17px 19px 19px -7px rgba(0,0,0,0.75);
  background-color: #f0f0f0;

}
h1{
  padding-top: 20px;
  display: block;
  margin-top: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  text-decoration: underline;
}
.passDesign{
  width: 90%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 50% 30% 15%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
label{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  text-align: start;
}
input[type=number]{
  /* height: 10px; */
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
input:disabled{
  color: #1b4ca8;
  background-color: #6d2a2a;
  accent-color: green;
  forced-color-adjust:rgb(194, 31, 209) ;
}
button{
  margin-top: 30px;
  width: 120px;
  font-size: 2rem;
  background-color: hsl(219, 86%, 58%);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
button:hover{
  background-color: hsl(219, 86%, 38%);
}
#showPass, #footer{
  margin-top: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  text-align: center;
}